header{
	font-family: verdana;
	text-align: center;
}

#header {
    margin: auto;
    border: double;
    width: 500px;
    height: 50px;
    text-align: center;
    padding: 0em 3em;
    margin: 1em 25%;
    background: #B40486;
    font-family: fantasy;
    font-size: 300%;
    padding: 20px;
    text-align: center;
}
body{
  background-image: url(../img/fondo.jpg);
}

p{
	font-family: verdana;
}

.inicio{
  background-image: url(../img/perro.png);
  background-size: contain;
}
.fin{
  background-image: url(../img/hueso.png);
  background-size: contain; 
}
td{
  width: 50px;
  height: 50px;
  border: black;
  border-radius: 10px;
}

div{
	padding-left: 50px;
}

#in{
  text-decoration: overline; 
  text-align:center;
  background: #C39BD3;
}

button{
	padding-left: 100px;
	font-family: verdana;
  border: 3px solid #555;
  text-decoration: none;
  padding: 10px;
  font-family: arial;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
  font-size: 25px;
  color: white;
  background-color: #610B4B;
}
button:hover{
  color: #9b0e0e;
  background-color: #bc6355;
  text-decoration: none;
}

#wall{
  background-image: url(../img/muro.jpg);
  background-size: contain; 
  border:4px solid black;
}

.abajo1{
  background-image: url(../img/abajo.png);
  background-size: contain; 
}

.izquierda1{
  background-image: url(../img/izquierda.png);
  background-size: contain; 
}

.derecha1{
  background-image: url(../img/derecha.png);
  background-size: contain; 
}

