header{
	font-family: verdana;
	text-align: center;
}

p{
	font-family: verdana;
}
.negro{
  background-color: black;
  color:white;
}
.verde{
  background-image: url(../img/bebe.png);
  background-size: contain; 
  background-color: green;
}
.rojo{
  background-image: url(../img/helado.jpg);
  background-size: contain; 
  background-color: red;
}
td{
  width: 40px;
  height: 40px;
}

div{
	padding-right: 40px
}

button{
	padding: 20px
	font-family: verdana;
}
